#main-mobile, #header-mobile{
    max-width: 360px;
}
.container-mobile{
max-width: 360px;
}
.header-mobile{
    position: relative;
    .menu__btn{
        position: absolute;
        top: 32;
    }
    .menu__box{
        right: -1000%;
        position: absolute;
        display: fixed;
        height: 800vh;
        width: 100%;
    }
    .nav{
        justify-content: space-between;
    }
}
 .home-mobile{
    &__bg{
        &-first{
            background:  url('../../../../images/pages-laminate/mobile-bg.jpg');
            max-height: 404px;
            max-width: 360px;
            padding: 32px 0 66px;
        }
    }
    &__title{
@include font(400, 13px, 13px);
margin-bottom: 4px;
    }
    &__subtitle{
        @include font(500, 24px, 32px);
        margin-bottom: 12px;
    } 
    &__description{
        @include font(400, 15px, 20px);
        margin-bottom: 32px;
    } 
    a{
        &:last-child{
            margin-top: 10px;
            border: 1px solid #ef7c00;
            background-color: transparent;
            color: #ef7c00;
            &:hover{
                border: 1px solid transparent;
                background-color: #ef7c00;
                color: #fff;
            }
        }
    }
}
  .lamMobile {
    padding: 32px 0 56px;
    .row {
      gap: 30px;
    }
    .title {
      @include font(500, 24px, 32px);
      margin-bottom: 24px;
      max-width: 340px;
    }
    &__item {
      color: #2c2d2e;
      &-description {
        @include font(400, 15px, 20px);
        min-width: 336px;
        margin-bottom: 16px;
      }
      &-subtitle {
        @include font(500, 15px, 20px);
        margin-bottom: 24px;
      }
      &-info {
        padding-left: 20px;
        &-title {
          position: relative;
          @include font(500, 16px, 24px);
          margin-bottom: 8px;
          &::before {
            position: absolute;
            content: "";
            background: url("../../../images/pages-laminate/list-point.png");
            width: 15px;
            height: 15px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &-text {
          @include font(400, 15px, 20px);
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 34px;
          }
        }
      }
    }
    &__slider {
      width: 100%;
      &-img {
        object-fit: contain;
      }
    }
    .owl-theme .owl-dots {
      margin-top: 11px;
    }
    .owl-theme .owl-dots .owl-dot span {
      background: none;
      border: 1px solid #ef7c00;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background: #ef7c00;
      border: none;
    }
  }
 .our-products {
    .title {
      margin-bottom: 50px;
    }
    .row {
      gap: 12px;
    }
    .col-12 {
      padding: 16px 0 18px 24px;
      background: rgba(0, 16, 61, 0.06);
      border-radius: 4px;
      display: flex;
      flex-direction: row;
    }
    .feature {
      display: flex;
      flex-direction: row;
      gap: 30px;
      &-title {
        @include font(500, 13px, 13px);
        color: #919399;
        margin-bottom: 8px;
      }
      &-value {
        @include font(400, 15px, 20px);
        color: #2c2d2e;
        &-line {
          position: relative;
          &::after {
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            width: 178px;
            height: 1px;
            background-color: rgba(0, 16, 61, 0.12);
          }
        }
      }
    }
    &-title {
      display: flex;
      flex-direction: row;
      gap: 16px;
      &-diameter {
        @include font(600, 24px, 28px);
        color: #ef7c00;
        margin-bottom: 8px;
      }
      &-type {
        @include font(500, 16px, 24px);
        color: #919399;
        padding-top: 4px;
      }
    }
    .thread {
      &__title {
        @include font(500, 13px, 13px);
        color: #919399;
        margin-bottom: 27.5px;
      }
      &__type {
        @include font(500, 16px, 24px);
        color: #2c2d2e;
        margin-bottom: 8px;
      }
      &__value {
        @include font(400, 15px, 24px);
        color: #919399;
        white-space: nowrap;
        &-two {
          margin-bottom: 55px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 0.8px;
            width: 648px;
            background-color: rgba(0, 16, 61, 0.12);
            bottom: -24.2px;
            left: 0;
          }
        }
        span {
          display: inline-block;
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
            width: 0;
          }
        }
      }
      &__item {
        width: 36.6%;
      }
      &__item-block {
        width: 64.4%;
        display: flex;
        align-items: flex-end;
        gap: 18px;
        &:last-child {
          margin-top: 40px;
        }
        &-img {
          display: flex;
          flex-direction: column;
          text-align: center;
          color: #919399;
          @include font(500, 13px, 13px);
          gap: 12px;
          &-text {
            max-width: 42px;
          }
          &-helper {
            margin-right: 30px;
            &-text {
              margin-left: -15px;
            }
          }
        }
        &-helper-1 {
          padding-bottom: 70px;
          margin-bottom: -40px;
        }
        &-helper-first {
          margin: 25px 0 -30px 0;
        }
        &-helper-second {
          margin: 30px 0 -30px 0;
        }
      }
      &__flex {
        display: flex;
        justify-content: space-between;
        .row {
          flex-direction: row;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
.description-mobile {
    padding: 64px 0 104px;
    .container{
      position: relative;
    &::before{
      top: -16px;
      @include desLine;
    }
    &::after{
      bottom: -16px;
      @include desLine;
    }
    }
    &__text {
      display: flex;
      @include font(400, 15px, 20px);
      color: #2c2d2e;
      width: 512px;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      span {
        @include font(500, 16px, 24px);
        display: inline-block;
        color: #ef7c00;
        margin-right: 15px;
      }
    }

  }
  