#main-mobile,
#header-mobile {
  max-width: 360px;
}
.container-mobile {
  max-width: 360px;
}
.header-mobile {
  position: relative;
  .menu__btn {
    position: absolute;
    top: 32;
  }
  .menu__box {
    right: -1000%;
    position: absolute;
    display: fixed;
    height: 800vh;
    width: 100%;
  }
  .nav {
    justify-content: space-between;
  }
}
.home-mobile {
  &__bg {
    &-first {
      background: url("../../../../images/pages-laminate/mobile-bg.jpg");
      max-height: 404px;
      max-width: 360px;
      padding: 32px 0 66px;
    }
  }
  &__title {
    @include font(400, 13px, 13px);
    margin-bottom: 4px;
  }
  &__subtitle {
    @include font(500, 24px, 32px);
    margin-bottom: 12px;
  }
  &__description {
    @include font(400, 15px, 20px);
    margin-bottom: 32px;
  }
  a {
    &:last-child {
      margin-top: 10px;
      border: 1px solid #ef7c00;
      background-color: transparent;
      color: #ef7c00;
      &:hover {
        border: 1px solid transparent;
        background-color: #ef7c00;
        color: #fff;
      }
    }
  }
}
.lamMobile {
  padding: 32px 0 56px;
  .row {
    gap: 30px;
  }
  .title {
    @include font(500, 24px, 32px);
    margin-bottom: 24px;
    max-width: 340px;
  }
  &__item {
    color: #2c2d2e;
    &-description {
      @include font(400, 15px, 20px);
      min-width: 336px;
      margin-bottom: 16px;
    }
    &-subtitle {
      @include font(500, 15px, 20px);
      margin-bottom: 24px;
    }
    &-info {
      padding-left: 20px;
      &-title {
        position: relative;
        @include font(500, 16px, 24px);
        margin-bottom: 8px;
        &::before {
          position: absolute;
          content: "";
          background: url("../../../images/pages-laminate/list-point.png");
          width: 15px;
          height: 15px;
          left: -20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &-text {
        @include font(400, 15px, 20px);
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 34px;
        }
      }
    }
  }
  &__slider {
    width: 100%;
    &-img {
      object-fit: contain;
    }
  }
  .owl-theme .owl-dots {
    margin-top: 11px;
  }
  .owl-theme .owl-dots .owl-dot span {
    background: none;
    border: 1px solid #ef7c00;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #ef7c00;
    border: none;
  }
}
.our-products-mob {
  &__img {
    margin-bottom: 13px;
  }
  .col-12 {
    background-color: rgba(0, 16, 61, 0.06);
    border-radius: 4px;
    padding: 24px 0 16px 12px;
    margin-bottom: 16px;
  }
  .row {
    justify-content: space-between;

  }
  &-description {
    padding-top: 19px;
    &-title {
      @include font(600, 24px, 28px);
      color: #ef7c00;
      margin-bottom: 2px;
    }
    &-type {
      @include font(500, 16px, 24px);
      color: #919399;
      margin-bottom: 39px;
      height: 0px;
    }
    &-feature {
      @include font(500, 13px, 13px);
      color: #919399;
      margin-bottom: 21px;
      min-width: 77px;
      &-block {
        position: relative;
        padding-top: 26px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        &-second{
          gap: 16px;
        }
        &-third{
          gap: 5px;
          &-2{
            gap: 11px;
          }
        }
        &-four{
          gap: 17px;
        }
        &-five{
          gap: 17px;
          &-2{
            margin: 20px 0 -20px;
            gap: 15px;
          }
        }
        &-img{
          @include font(500, 13px, 13px);
          display: flex;
          flex-direction: column;
          color: #919399;
          text-align: center;
        }
        &::after {
          content: "";
          position: absolute;
          width: 336px;
          height: 1px;
          background-color: rgba(0, 16, 61, 0.12);
          bottom: -8px;
          left: -127px;
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
      }
      &-numbers {
        display: flex;
        text-align: center;
        gap: 4px;
        @include font(400, 15px, 20px);
        color: #2c2d2e;
        margin-bottom: 2px;
      }
      &-num {
        text-align: left;
        width: 30px;
      }
      &-first {
        margin-bottom: 9px;
      }
    }
    &-thread {
      &-first{
        margin-bottom: 54px
      }
      &-title {
        @include font(500, 13px, 13px);
        color: #919399;
        margin-bottom: 4px;
      }
      &-type {
        @include font(500, 16px, 24px);
        color: #2c2d2e;
      }
      &-size {
        @include font(400, 15px, 20px);
        color: #919399;
        min-width: 120px;
        span{
          margin-right: 8px;
          display: inline-block;
        }
      }
    }
  }
  .col-9 {
    padding-left: 40px;
  }
}
.description-mobile {
  padding: 64px 0 104px;
  .container {
    position: relative;
    &::before {
      top: -16px;
      @include desLine;
    }
    &::after {
      bottom: -16px;
      @include desLine;
    }
  }
  &__text {
    display: flex;
    @include font(400, 15px, 20px);
    color: #2c2d2e;
    width: 512px;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      @include font(500, 16px, 24px);
      display: inline-block;
      color: #ef7c00;
      margin-right: 15px;
    }
  }
}
